.user-profile {
  display: flex;
  align-items: center;
  /* Removed default margin-top so it can be controlled via props */
}
  
.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #C9C0C0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
  
.username {
  font-family: "Readex Pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  line-height: 32px; /* Vertically center text */
}